body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    margin: 0px;
}

div {
    box-sizing: border-box;
}

.corpo {
    font-size: 15px;
}

.titular {
    font-size: 24px;
    margin-left: 5%;
}

header{
    background-color: #EAC926;
    width: 100%;
    height: auto;
}

main {
    box-sizing: border-box;
    margin: 0px;
    background-color: #ebebeb;
}

.precio {
    display: flex;
    align-content: flex-start;
    flex-grow: 0.3;
    font-size: 18px;
}
.descuento {
    display: flex;
    align-content: center;
    flex-grow: 0.7;
    color: #39b54a;
    font-size: 16px;
}

#banner{
    box-sizing: border-box;
    width: 100%;
}

.barrabusq{
    background-color: white;
    border: solid 1px #666;
    width: 50%;
    margin-left: 10px;
}

#iconbusq{
    box-sizing: border-box;
    margin-left: 10px;
    background-color: white;
    border: solid 1px #666;
}

.section-main{
    width: 90%;
    margin: auto;
}

main article{
    margin-bottom: 10px;
}

footer {
    background-color: white;
    width: 100%;
    text-align: center;
}

.pie {
    box-sizing: border-box;
    margin: auto;
}

header div.logo {
        width: 50%;
}

div.burger-menu {
    text-align: center;
}

div.burger-menu i{
    background-color: #03264C;
    color: white;
    border-radius: 5px;
    font-size: 30px;
    height: 30px;
    margin: 5px 0px 5px 0px;
    padding: 10px;  
    width: 30px;
}

div.pie i{
    color: #03264C;
    border-radius: 5px;
    font-size: 70px;
    height: 15px;
    margin: 5px 0px 5px 5px;
    padding: 10px;
    width: 90px;
}

.caja{
    background-color: white;
    text-align: center;
}

img {
    box-sizing: border-box;
    width: 90%;
    margin: auto;
}

.parrafo-productos {
    border-top:solid 1px #ebebeb ;
    text-align: start;
    display: flex;
    flex-wrap: wrap;
}

p{
    margin: 1px;
    box-sizing: border-box;
}

article {
    padding: 15px;
}

.precio-descuento {
    display: flex;
    align-content: center;
}

.descripcion {
    display: none;
}

.section-basado {
    margin: 0% 5% 0% 5%;
}

.section-ofertas {
    margin: 0% 5% 0% 5%;
}


@media (min-width: 361px) {
    .caja {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .caja:hover {
        box-shadow: 0px 0px 20px rgb(100, 100, 100);
    }

    .caja:hover .descripcion{
        display: block;
    }

    .burger-menu{
        display: none;
        font-size: 16px;
    }
    header{
        padding-bottom: 5px;
    }
    .section-basado {
        display: flex;
        grid-gap: 10px;
    }
    .section-ofertas {
        display: flex;
        grid-gap: 10px;
    }
    .pie{
        display: flex;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        align-items: center;
    }
}


@media (min-width: 769px){
    .dos-art {
        display: flex;
        grid-gap: 10px;
    }
}